<nav class="breadcrumb">
  <span class="breadcrumb-item active">Movie Info</span>
</nav>
<% if notice %>
<div class="alert alert-success" id="notice" role="alert"><%= notice %></div>
<% end %>
<p>
  <strong>Title:</strong><br>
  <%= @movie.title %>
</p>

<p>
  <strong>Genre:</strong><br>
  <%= @movie.genre %>
</p>

<p>
  <strong>Actor:</strong><br>
  <%= @movie.actor %>
</p>

<p>
  <strong>Rating:</strong><br>
  <%= @movie.rating %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie), class: "btn btn-info" %>
<%= link_to 'Back', movies_path, class: "btn btn-default" %>
